{% extends 'base.html' %}
{%  block title %}Phodal's Blog{% endblock %}

{% block content %}
<div class="container blog-list">
    <div class="row">
        {% if blogs %}
        {% for blog in blogs %}
        <div class="col-sm-4">
            <h2><a href="{{ blog.get_absolute_url }}">{{ blog.title }}</a></h2>
            {{blog.body | slice:":80"}}
            {{blog.posted}} - By {{blog.author}}
        </div>
        {% endfor %}
        {% else %}
        <p>当前还没有博客</p>
        {% endif %}
    </div>

    <div class="pagination">
    <span class="step-links">
        {% if blogs.has_previous %}
            <a href="?page={{ blogs.previous_page_number }}">上一页</a>
        {% endif %}

        <span class="current">
            当前在第 {{ blogs.number }} 页, 共有 {{ blogs.paginator.num_pages }} 页
        </span>

        {% if blogs.has_next %}
            <a href="?page={{ blogs.next_page_number }}">下一页</a>
        {% endif %}
    </span>
</div>
</div>
{% endblock %}
